{% extends 'list.html' %}
{% load static %}
{% block assets_list %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.25/plugins/buttons-1.7.1/css/buttons.bootstrap.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.25/plugins/buttons-1.7.1/js/dataTables.buttons.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/jszip-2.5.0/jszip.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/pdfmake-0.1.36/pdfmake.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/pdfmake-0.1.36/vfs_fonts.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/buttons-1.7.1/js/buttons.html5.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/spanish.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/daterangepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/bootstrap-daterangepicker-3.1/css/daterangepicker.css' %}"/>
    <!--Datos de cabecera/pie de página para la exportación de reportes en PDF
    (ver apply_report_pdf_layout en static/js/functions.js). Se definen antes
    del JS propio de cada reporte para que ya estén disponibles cuando este
    arma el botón de exportar.-->
    <script>
        window.report_company = {
            name: "{{ company.tradename|default:company.business_name|default:''|escapejs }}",
            ruc: "{{ company.ruc|default:''|escapejs }}",
            address: "{{ company.main_address|default:''|escapejs }}",
            phone: "{{ company.mobile|default:company.phone|default:''|escapejs }}",
            logo: "{{ company.image_base64|default:''|escapejs }}"
        };
        window.report_user = "{{ request.user.names|default:''|escapejs }}";
    </script>
    <!--Block head report-->
    {% block assets_report %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="card {{ dashboard.card }}">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-chart-bar"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <!--Block content report-->
                {% block content_report %}

                {% endblock %}
            </div>
        </div>
    </div>
    <!--Block report_javascript-->
    {% block javascript_report %}

    {% endblock %}
{% endblock %}
