{% extends 'list.html' %}
{% load static %}
{% block assets_list %}
    <script src="{% static 'contabilidad/js/bank_list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th>Banco</th>
    <th>Número</th>
    <th>Tipo</th>
    <th>Titular</th>
    <th>Cuenta contable</th>
    <th class="text-center">Estado</th>
    <th class="text-center">Opciones</th>
{% endblock %}

{% block box_footer_add_button %}
    <a href="{{ move_url }}" class="btn btn-info btn-flat"><i class="fas fa-exchange-alt"></i> Movimiento bancario</a>
    <a href="{{ alias_url }}" class="btn btn-secondary btn-flat"><i class="fas fa-tags"></i> Alias de bancos</a>
{% endblock %}

{% block javascript_list %}
{% endblock %}
